@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

html,
body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif, monospace;
    text-align: center !important;
    line-height: 1.5;
}

[type=button]:not(:disabled),
[type=reset]:not(:disabled),
[type=submit]:not(:disabled),
button:not(:disabled) {
    /* cursor: pointer; */
}

h1:focus {
    outline: none;
}

a {
    color: #c10000;
}

p {
    text-align: justify;
    font-size: large;
    color: #000000;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 10%;
    margin-inline-end: 10%;
}

ul {
    display: inline-block;
    margin: auto;
    text-align: left;
    list-style-type: none;
}

li {
    text-align: left !important;
    list-style-position: inside;
    margin: auto;
}

.sh1 {
    text-align: center !important;
    font-size: x-large;
    color: #851c1c
}

.btn-link {
    color: black;
}

.btn-primary {
    color: #fff;
    background-color: black;
    border-color: black;
}

.content {
    padding-top: 1.1rem;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

.loadBox {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

#blazor-error-ui .dismiss {
    cursor: pointer;
    position: absolute;
    right: 0.75rem;
    top: 0.5rem;
}

.blazor-error-boundary {
    background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNTYiIGhlaWdodD0iNDkiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIG92ZXJmbG93PSJoaWRkZW4iPjxkZWZzPjxjbGlwUGF0aCBpZD0iY2xpcDAiPjxyZWN0IHg9IjIzNSIgeT0iNTEiIHdpZHRoPSI1NiIgaGVpZ2h0PSI0OSIvPjwvY2xpcFBhdGg+PC9kZWZzPjxnIGNsaXAtcGF0aD0idXJsKCNjbGlwMCkiIHRyYW5zZm9ybT0idHJhbnNsYXRlKC0yMzUgLTUxKSI+PHBhdGggZD0iTTI2My41MDYgNTFDMjY0LjcxNyA1MSAyNjUuODEzIDUxLjQ4MzcgMjY2LjYwNiA1Mi4yNjU4TDI2Ny4wNTIgNTIuNzk4NyAyNjcuNTM5IDUzLjYyODMgMjkwLjE4NSA5Mi4xODMxIDI5MC41NDUgOTIuNzk1IDI5MC42NTYgOTIuOTk2QzI5MC44NzcgOTMuNTEzIDI5MSA5NC4wODE1IDI5MSA5NC42NzgyIDI5MSA5Ny4wNjUxIDI4OS4wMzggOTkgMjg2LjYxNyA5OUwyNDAuMzgzIDk5QzIzNy45NjMgOTkgMjM2IDk3LjA2NTEgMjM2IDk0LjY3ODIgMjM2IDk0LjM3OTkgMjM2LjAzMSA5NC4wODg2IDIzNi4wODkgOTMuODA3MkwyMzYuMzM4IDkzLjAxNjIgMjM2Ljg1OCA5Mi4xMzE0IDI1OS40NzMgNTMuNjI5NCAyNTkuOTYxIDUyLjc5ODUgMjYwLjQwNyA1Mi4yNjU4QzI2MS4yIDUxLjQ4MzcgMjYyLjI5NiA1MSAyNjMuNTA2IDUxWk0yNjMuNTg2IDY2LjAxODNDMjYwLjczNyA2Ni4wMTgzIDI1OS4zMTMgNjcuMTI0NSAyNTkuMzEzIDY5LjMzNyAyNTkuMzEzIDY5LjYxMDIgMjU5LjMzMiA2OS44NjA4IDI1OS4zNzEgNzAuMDg4N0wyNjEuNzk1IDg0LjAxNjEgMjY1LjM4IDg0LjAxNjEgMjY3LjgyMSA2OS43NDc1QzI2Ny44NiA2OS43MzA5IDI2Ny44NzkgNjkuNTg3NyAyNjcuODc5IDY5LjMxNzkgMjY3Ljg3OSA2Ny4xMTgyIDI2Ni40NDggNjYuMDE4MyAyNjMuNTg2IDY2LjAxODNaTTI2My41NzYgODYuMDU0N0MyNjEuMDQ5IDg2LjA1NDcgMjU5Ljc4NiA4Ny4zMDA1IDI1OS43ODYgODkuNzkyMSAyNTkuNzg2IDkyLjI4MzcgMjYxLjA0OSA5My41Mjk1IDI2My41NzYgOTMuNTI5NSAyNjYuMTE2IDkzLjUyOTUgMjY3LjM4NyA5Mi4yODM3IDI2Ny4zODcgODkuNzkyMSAyNjcuMzg3IDg3LjMwMDUgMjY2LjExNiA4Ni4wNTQ3IDI2My41NzYgODYuMDU0N1oiIGZpbGw9IiNGRkU1MDAiIGZpbGwtcnVsZT0iZXZlbm9kZCIvPjwvZz48L3N2Zz4=) no-repeat 1rem/1.8rem, #b32121;
    padding: 1rem 1rem 1rem 3.7rem;
    color: white;
}

.blazor-error-boundary::after {
    content: "An error has occurred."
}

table {
    margin-top: 10px;
    margin-bottom: 10px;
    border-collapse: collapse;
}

th,
td {
    border: 1px solid black;
    padding: 10px
}

table {
    margin-left: auto;
    margin-right: auto;
}

h2 {
    margin-top: 30px;
    margin-bottom: 10px;
    color: black;
    text-align: center !important;
    font-size: 40px !important;
}

h3 {
    margin-top: 20px;
    margin-bottom: 7px;
    color: black;
    text-align: center !important;
    font-size: 22px !important;
}

h4 {
    margin-top: 20px;
    margin-bottom: 7px;
    margin-left: 7%;
    color: rgb(54, 54, 54);
    text-align: left !important;
    font-size: 22px !important;
}

.button {
    background-color: black;
    border: 1px solid black;
    color: white;
    font-size: 1.10rem;
    border-radius: 99px;
    padding: 10px;
    margin: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-weight: 450;
    height: 55px;
    cursor: pointer;
    width: 18em;
}

.imgLogo {
    margin-top: -10px;
    height: 45px;
    width: auto;
}

.imgBan {
    width: 40%;
    height: auto;
}

img {

    width: 100%;
    height: auto;
}

.bgBan {
    background-image: url("../Images/bg.jpg");
    background-size: 100% auto;
    transition: background-position 0s !important;
    background-repeat: no-repeat !important;
    background-attachment: fixed !important;
    box-sizing: border-box;
    position: relative;
    background-attachment: scroll;
    background-position-y: -57em;
}

.bgFormation {
    background-image: url("../Images/Formation.jpg");
    background-size: 100% auto;
    transition: background-position 0s !important;
    background-repeat: no-repeat !important;
    background-attachment: fixed !important;
    box-sizing: border-box;
    position: relative;
    background-attachment: scroll;
    background-position-y: -20em;
}

.bgAccompagnement {
    background-image: url("../Images/Accompagnement.jpg");
    background-size: 100% auto;
    transition: background-position 0s !important;
    background-repeat: no-repeat !important;
    background-attachment: fixed !important;
    box-sizing: border-box;
    position: relative;
    background-attachment: scroll;
    background-position-y: -21em;
}

.bgAudits {
    background-image: url("../Images/Audits.jpg");
    background-size: 100% auto;
    transition: background-position 0s !important;
    background-repeat: no-repeat !important;
    background-attachment: fixed !important;
    box-sizing: border-box;
    position: relative;
    background-attachment: scroll;
    background-position-y: -40em;
}


.bgDiv {
    background-color: rgb(248, 248, 248);
    margin-bottom: 30px;
}

.img {
    width: 80%;
    height: auto;
}

.imgSmall {
    width: 120px;
    height: auto;
}

.imgNav {
    width: 1.6rem;
    font-size: 1.6 rem;
    vertical-align: text-top;
    top: -2px;
    margin-right: 8px;
    filter: brightness(88%);
    -webkit-filter: brightness(88%);
}


.TextBig {
    width: 50%;
    height: 150px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    resize: none;
}

.TextSmall {
    width: 50%;
    height: 2em;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    resize: none;
}

legend {
    margin-top: 12px;
}

label {
    display: inline;
}

hr.line {

    text-align: center;
    border: 1px solid rgb(70, 70, 70);
    width: 10em;

}


/* responsive */

@media (max-width: 641px) {

    .bgBan{
        background-position-y: -8em;
    }

    .bgFormation {
        background-position-y: 20em;
    }
    
    .bgAccompagnement {
        background-position-y: 15em;
    }
    
    .bgAudits {
        background-position-y: 20em;
    }

}
