@page "/accompagnement"

<PageTitle>Accompagnment</PageTitle>

<h1>Accompagnement</h1>
<p class="sh1">
        Mon offre d'accompagnement technique s'appuie sur des référentiels à l'état de l'art. 
        L'objectif est de sécuriser vos projets applicatifs et leur infrastructure de manière concrète, cohérente et pragmatique.
</p>

<div class="bgAccompagnement">
    <br><br><br><br><br><br><br><br><br>
</div>
<center>
    <hr class="line">
</center>


<div>
    <br>
    <h2>Le projet OWASP ASVS</h2>
        <span class="oi oi-code" aria-hidden="true"></span>
    <br>
    <p>
Le projet <a href="https://owasp.org/www-project-application-security-verification-standard/OWASP">Application Security Verification Standard (ASVS)</a> fournit plus de 250 contrôles techniques de 
sécurité pour les applications. Il fournit également aux développeurs une liste d'exigences pour un développement sécurisé.
    </p>
    <br>
</div>

<div class="bgDiv">
    <br>
    <h2>Le guide ANSSI: agilité et sécurité numérique</h2>
    <span class="oi oi-fork" aria-hidden="true"></span>
    <br>
    <p>
        Réalisé par l’ANSSI et la DINSIC, <a href="https://www.ssi.gouv.fr/guide/agilite-et-securite-numeriques-methode-et-outils-a-lusage-des-equipes-projet/">ce guide</a> 
        explique de manière pratique et concrète comment l’agilité et la sécurité concourent au développement sécurisé des projets et à la gestion du risque numérique.
    </p>
    <br>
</div>

<div>
    <br>
    <h2>La méthode S.T.R.I.D.E</h2>
    <span class="oi oi-bolt" aria-hidden="true"></span>
    <br>
    <p>
        la méthode de modélisation des menaces <a href="https://owasp.org/www-community/Threat_Modeling_Process">STRIDE</a> 
        permet de découvrir les principales faiblesses d'une application afin de prioriser les contrôles de sécurité à mettre en place. Il permet d'intégrer la démarche de sécurisation au Software Development Life Cycle (SDLC).
    </p>
    <br>
</div>

<div>
    <br>
    <h2>Les guides CIS Benchmarks</h2>
    <span class="oi oi-cog" aria-hidden="true"></span>
    <br>
    <p>
        les guides <a href="https://www.cisecurity.org/cis-benchmarks/">CIS Benchmarks</a>
        permettent de renforcer les configurations de nombreux produits dont Azure, Windows, Linux et Docker.
    </p>
    <br>
</div>
