@page "/Contact"


<PageTitle>Contact</PageTitle>

<h1>Contact</h1>
<p class="sh1">
    Une prestation sur-mesure est également possible, n'hésitez pas en prendre contact par mail ou directement via LinkedIn
</p>
<div class="bgBan">
    <br>
    <img src="Images/Logov2.png" class="imgBan" alt="Conseil en systèmes et logiciels informatiques">
    <br>
</div>