@page "/CShidori-demo"
@using TAISEN.Classes;
@using CShidori.Core;


<PageTitle>CShidori</PageTitle>


<div class="bgDiv">
    <EditForm Model="@CSo" OnValidSubmit="@GenerateOut">
        <DataAnnotationsValidator />
        <ValidationSummary />
        <p>
            <label>Nom du point d'entrée</label><br />
            <InputText id="name" @bind-Value="CSo.Name" />
            
        </p>
        <p>
            <label>Saisie attendue</label><br />
            <InputText id="input" @bind-Value="CSo.Input" />
        </p>

        <button type="submit">Generer</button>
    </EditForm>

    <fieldset>
         <legend>Jeux de test:</legend>
            <form>
                <textarea @bind=@JeuxDeTest></textarea>
            </form>
    </fieldset>
</div>

@code {

    string JeuxDeTest = string.Empty;
    private CShidObj CSo = new();

    //https://docs.microsoft.com/en-us/aspnet/core/blazor/forms-and-input-components?view=aspnetcore-6.0

    private void GenerateOut()
    {
         new MutDispatcher(CSo.Input.Length, CSo.Input).Output.ForEach(x => JeuxDeTest+= x + "\n");
    }


}
