@page "/"

<PageTitle>Taisen solutions</PageTitle>

<link rel="icon" type="image/x-icon" href="~/Images/Favicon.ico" />
<h1>TAISEN Solutions</h1>
<p class="sh1">Taisen est une microentreprise fondée en 2022. Cette structure me permet de vous accompagner pour la sécurisation de votre système d'information.</p>

<div class="bgBan">
    <br>
    <img src="Images/Logov2.png" class="imgBan" alt="Conseil en sécurité des systèmes d’information">
    <br>
</div>
<center>
    <hr class="line">
</center>

<div>
    <form>
        <a href="/simple">
            <input type="button" class="button" value="Accompagnement">
        </a>
    </form>
    <br>
    <form>
        <a href="/audits-ssi">
            <input type="button" class="button" value="Audits de sécurité">
        </a>
    </form>
    <br>
    <form>
        <a href="/Formations">
            <input type="button" class="button" value="Formations">
        </a>
    </form>
    <br>
    <form>
        <a href="https://github.com/Aif4thah">
            <input type="button" class="button" value="R&D (github)">
        </a>
    </form>


</div>
