@page "/"

<PageTitle>Taisen</PageTitle>

<link rel="icon" type="image/x-icon" href="~/Images/Favicon.ico" />
<h1>TAISEN Solutions</h1>
<p class="sh1"> La sécurité en cohérence avec vos projets</p>

<div class= "bgBan">
    <img src="Images/Logov2.png" class="imgBan" alt="--">
</div>


<div class="bgDiv">
    <br>
    <h2>Une approche pragmatique et intelligente pour sécuriser votre système d'information</h2>
    <img src="Images/Ok.png" class="imgLogo" alt="--">
    <p>
        Taisen a pour objectif de sécuriser vos projets de manière adaptée et cohérente.
        Face aux difficultés rencontrées pour la sécurisation des projets liés à l'infrastructure et aux applications, 
        Taisen propose une méthode à la fois réaliste, proche des équipes techniques et cohérente avec les objectifs des RSSI. <br>
        Si vous avez déjà eu le sentiment que vos tests d'intrusions, contrôles de sécurité et processus fonctionnels ne vous apportent pas la maitrise réelle de vos risques, 
        vous êtes au bon endroit.
        <br>
    </p>
</div>

<div>
    <br>
    <h2>Une méthode différente, en phase avec les bonnes pratiques </h2>
    <img src="Images/Ok.png"class="imgLogo" alt="--">
    <p> 
        L'accompagnement technique et la réalisation des tests de sécurité au bon moment sont souvent les maillons manquant d'une démarche de sécurisation réussie.
        Taisen souhaite apporter aux projets des solutions bas niveau leur permettant de maitriser leur niveau de sécurité. 
        Des livrables adaptés et conformes aux bonnes pratiques offrent aux clients la possibilité de gérer en autonomie les enjeux de sécurité.
        <br>
        La méthode S.I.M.P.L.E est issue d'une capitalisation de l'expérience acquise auprès d'une centaine de projets applicatifs.
        Les succès, mais aussi les échecs sont pris en compte, afin d'améliorer cette méthode de manière continue. 
        Les bonnes pratiques de l'<a href="https://www.ssi.gouv.fr/">ANSSI</a>  et les standards de l'<a href="https://owasp.org/projects/">OWASP</a> sont intégrés à la méthode.
    </p>
    <form>
        <a href="/simple">
            <input type="button" class="button" value="Découvrir la méthode d'Accompagnement">
        </a>
    </form>
    <br>
</div>

<div>
    <br>
    <h2>Un panel d'audits de sécurité adapté à vos besoins</h2>
    <img src="Images/Ok.png"class="imgLogo" alt="--">
    <p> 
        Afin d'évaluer le niveau de sécurité de votre système d'information, Taisen propose plusieurs types d'audits de sécurité.
        Un effort tout particulier est porté sur les recommandations liées aux vulnérabilités découvertes. 
        Ces "Quick-Wins" vous permettront de consolider rapidement la sécurité de vos actifs.        
    </p>
    <form>
        <a href="/audits-ssi">
            <input type="button" class="button" value="Voir les Audits de sécurité">
        </a>
    </form>
    <br>
</div>


<div class="bgDiv">
    <br>
    <h2> Une recherche d'amélioration constante </h2>
    <img src="Images/Ok.png"class="imgLogo" alt="--">
    <p>
        Grâce à un temps dédié au retour d'expérience, à la prise de recul et au développement d'outillage et de processus efficients,
        Taisen à l'ambition d'aller plus loin dans la sécurisation des projets applicatifs. Ce travail est consultable et open source. 
    </p>
    <br>
    <form>
        <a href="https://github.com/Aif4thah">
            <input type="button" class="button" value="Découvrir les projets (GitHub)">
        </a>
    </form>
    <br>
</div>

<div>
    <br>
    <h2>Contact</h2>

    <img src="Images/Portrait.png" class="imgSmall" alt="--">


    <p class="sh1"> Pour une première prise de contact, exprimer un besoin ou simplement échanger</p>

    <h3>Mail</h3>

    <span class="oi oi-envelope-closed" aria-hidden="true"></span>
    <div>
        <a>michael.vacarella[at]pm.me</a>
    </div>


    <h3>LinkedIn</h3>

    <span class="oi oi-people" aria-hidden="true"></span>
    <div>
        <a href="https://www.linkedin.com/in/mvacarella">mvacarella</a>
    </div>


    <h3>à propos du site</h3>
    <span class="oi oi-globe" aria-hidden="true"></span>
    <div>
        <a>Taisen-Solutions - Conseil en systèmes et logiciels informatiques - 91462472100017</a><br />
        <a>Ce site est hébergée par la société OVH dont l'adresse est 2 rue Kellermann - 59100 Roubaix - France</a>
        <a>Le code s'exécute dans votre navigateur grâce à la technologie WebAssembly, les sources sont consultables </a><a href="https://github.com/Aif4thah/SIMPLE-Taisen">ici</a>
    </div>
</div>
