@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <article class="content px-4">
            @Body

            <div>
                <center><hr class="line"></center>
                
                <h2>Contact</h2>
                <img src="Images/Portrait.png" class="imgSmall" alt="Contact">

                <h3>Mail</h3>
                <span class="oi oi-envelope-closed" aria-hidden="true"></span>
                <div>
                    <a href="mailto: michael.vacarella@pm.me">michael.vacarella@pm.me</a>
                </div>

                <h3>LinkedIn</h3>
                <span class="oi oi-people" aria-hidden="true"></span>
                <div>
                    <a href="https://www.linkedin.com/in/mvacarella">mvacarella</a>
                </div>

                <h3>à propos du site</h3>
                <span class="oi oi-globe" aria-hidden="true"></span>
                <div>
                    <a>Taisen-Solutions - Conseil en systèmes et logiciels informatiques - 91462472100017</a><br />
                    <a>Ce site est hébergée par la société OVH dont l'adresse est 2 rue Kellermann - 59100 Roubaix - France</a><br />
                    <a>Le code s'exécute dans votre navigateur grâce à la technologie WebAssembly, les sources sont consultables </a><a href="https://github.com/Aif4thah/SIMPLE-Taisen">ici</a>
                </div>
            </div>
        </article>
    </main>
</div>
