@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <article class="content px-4">

            @Body

            <center>
                <hr class="line">
            </center>
            <div>
                <br>
                <h3>Vous utilisez la méthode SIMPLE ?</h3>
                <span class="oi oi-heart" aria-hidden="true"></span>
                <br>
                <a>Le temps nécessaire pour le développement et l'amélioration continue de la méthode SIMPLE est pris
                    sur mon temps libre. J'ai tenu à ce que ce projet soit gratuit et open-source, pour que chacun
                    puisse l'utiliser.
                    Si vous appréciez la plus-value qu'apporte cette méthode au quotidien, n'hésitez pas <a href="https://www.buymeacoffee.com/taisensolutions">à m'offrir un café</a> :D </a>
                
                <br>
                <h3>Gestion des données</h3>
                <span class="oi oi-map-marker" aria-hidden="true"></span>
                <br>
                 <a>
                    Les données saisies dans l'application ne sont pas collectées. Elles sont stockées localement dans le cache de votre navigateur.
                    
                 </a>  
                <br>
                <h3>Licence</h3>
                <span class="oi oi-badge" aria-hidden="true"></span>
                <br>
                <a href="Data/gpl-3.0.md">GPL-3.0 license</a>
            </div>
           
        </article>
    </main>
</div>
